@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  background: #30949dd4;
  overflow: scroll;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: bold;
  line-height: 1.2;
  margin: 10px, 0;
}

h3,
h4 {
  font-weight: bold;
  line-height: 1.2;
  margin: 10px, 0;
}

p {
  margin: 10px, 0;
}

img {
  width: 100%;
  height: auto;
}

.gg_container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.carousel_container {
  width: 800px;
  height: 350px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  height: 800px;
}

.gg_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.strip_bar {
  background-color: #c4c4c4;
  color: #63094a;
  font-size: 50px;
  font-weight: 100;
  font-style: normal;
  font-family: inherit;
  padding: 10px;
}

.gg_search_bar {
  background-color: white;
  border-radius: 25px;
  color: black;
  padding: 5px;
  width: 500px;
}

.gg_logo {
  width: 60px;
  height: 40px;
  margin: 5px;
}

.gg_navbar {
  background-color: #047aed;
  color: #fff;
  height: 80px;
  position: sticky;
  top: 0px;
  overflow: hidden;
}

.gg_navbar ul {
  display: flex;
}

.gg_navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.gg_navbar a:hover {
  border-bottom: 2px solid #fff;
}

.gg_navbar .gg_flex {
  justify-content: space-between;
}

.search_input {
  border: none;
  border-width: 0px;
  outline: none;
  width: 300px;
  margin-left: 5px;
}

.gg_categories {
  background-color: #34328f;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 100px 0;
}

.category_item {
  display: inline-block;
}

.image_block {
  margin-top: 200px;
}

.gg_footer {
  background-color: black;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 100px;
}

.social a {
  margin: 20px 10px;
  color: #fff;
}
a.footer:link,
a.footer:visited {
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: small;
}

a.footer:hover,
a.footer:active {
  background-color: #191eb0;
  color: white;
  border-radius: 25px;
}

.contact-form {
  position: relative;
  top: 5px;
  height: 500px;
  width: 650px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  margin-bottom: 30px;
}

.login_content {
  max-width: 500px;
  margin: 50px auto;
  overflow: auto;
  padding: 0;
}

/* .about {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  padding: 0;
} */

.login-form {
  margin: auto;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: center;
}

.contact-form .gg_form-control {
  margin: 20px 0;
}

.login-form .gg_form-control {
  margin: 20px 0;
}

#message {
  padding: 5px;
  border: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 40px;
}

/* Used grid-template-rows to create a uniform line height for each product's information i.e product image, price, name of product, and the description. Used 'px' to control the size of each row */
.product {
  margin: 10px;
  display: grid;
  grid-template-rows: 500px 50px 50px 200px;
  overflow: hidden;
}

.prod_desc {
  margin-top: 10px;
  padding: 20px;
}

.product_description {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.price {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: center;
}

.best_sellers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

button.add_cart {
  padding: 5px;
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 25px;
  margin-top: 10px;
}

.payment_options {
  background-color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment_options img {
  width: 40px;
  height: auto;
  margin: 5px;
}

.price_cart {
  color: blue;
  text-align: center;
  font-weight: bold;
}

.close {
  border: none;
  background-color: inherit;
  margin-top: 0;
}

/* .prod_name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
} */

.form-control {
  margin: 5px 5px;
  padding: 5px 10px;
}

.qty {
  font-weight: bold;
  text-align: center;
  color: #333;
  border: 1px solid #333;
  padding: 5px;
  margin: 10px 10px;
}

.my_input {
  display: flex;
}

.vert_strip {
  background-color: white;
  margin: 10px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.gg_input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #c4c4c4;
}

#customer_help {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#section_1 {
  border: 1px solid #c4c4c4;
  padding: 20px;
  margin: 10px 0px;
}
#section_1_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0px;
}

#section_2 {
  background-color: #f5f0f0;
  padding: 20px;
}

#section_3 {
  background-color: #f5f0f0;
  padding: 20px;
  margin-top: 20px;
  height: auto;
}

#more {
  padding: 5px;
  background-color: #e8d3d3;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
}
.product_card {
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #c4c4c4;
}

.order_summary {
  color: #333;
}

.prod_container {
  display: flex;
}

.prod_name {
  margin-top: 20px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.product_image {
  width: 100%;
  height: 100%;
  margin: auto;
}

.img_container {
  width: 400px;
  height: 400px;
  margin: auto;
}

.cart_img_container {
  width: 300px;
  height: 300px;
  margin: 10px auto;
}

.section_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  margin: 50px 200px;
}

.right_col {
  display: flex;
  flex-direction: column;
}

.left_col {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  height: 100%;
}

.col_contents {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  background-color: #fff;
}

.inside_col {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 20px 0px;
}

.deliver {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;

  justify-content: center;
}

.deliver button {
  border: 1px solid #333;
  border-radius: 50px;
}

.gg_button {
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  background-color: #047aed;
}

#apply {
  margin-top: 30px;
  padding: 5px;
}

#promo_code {
  display: block;
  padding: 5px;
  margin: 0 20px;
}

.about {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  padding: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .best_sellers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* body {
    display: none;
  } */

  .section_main {
    display: grid;
    grid-template-rows: auto;
    height: 100%;
  }

  .gg_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .gg_navbar {
    height: 200px;
  }

  .gg_navbar .gg_flex {
    flex-direction: column;
  }

  .gg_navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .gg_search_bar {
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 2px;
    width: 350px;
  }

  .gg_categories {
    background-color: #34328f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .w-100 {
    width: 100% !important;
    height: auto;
  }

  .gg_footer {
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .login_content {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .carousel_container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    height: 800px;
  }

  .product_card {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #c4c4c4;
  }

  .cart_img_container {
    width: 200px;
    height: 300px;
    margin: 10px auto;
  }

  .img_container {
    width: 100%;
    height: 500px;
    place-self: center;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .col_contents {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .price {
    text-align: center;
    margin-left: 10px;
  }

  .price_cart {
    color: blue;
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
  }

  .prod_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .prod_desc {
    margin: 10px;
    padding: 10px;
  }

  .prod_desc_cart {
    margin: 10px;
    color: #047aed;
  }

  .inside_col {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0px;
  }

  .protect {
    margin-left: 10px;
    color: #fff;
    display: block;
  }
  .left_col {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .right_col {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .section_main {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    margin: auto;
  }

  .best_sellers {
    display: grid;
    grid-template-columns: 1fr;
  }

  .w-100 {
    width: 100% !important;
    height: auto;
  }

  .gg_container {
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
  }

  .gg_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .gg_navbar {
    height: 200px;
  }

  .gg_navbar .gg_flex {
    flex-direction: column;
  }

  .gg_search_bar {
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 2px;
    width: 350px;
  }

  .gg_categories {
    background-color: #34328f;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
